<section class ="w-100 align-items-center">
    <% @users.each do |user| %>
    <a href=<%= "/users/#{user.id}"%> class="d-flex align-items-center m-3 gap-5 text-decoration-none text-dark">
    <%= image_tag(user.photo, class: "border border-dark border-3 p-5") %>
    <div class="border border-dark border-3 w-100 p-3">
        <h2 class="flex-grow-1 p-2"> <%= user.name %></h2>
        <div class=" d-flex justify-content-end">
            <p> Number of posts: <%= user.posts_counter || 0 %></p>
        </div>
    </div>
    </a>
    <% end %>
</section>
